body {
    background-color: #ddd;
}

h1 {
    text-transform: uppercase;
    color: #500d11;
    font-weight: bolder !important;
}

@media screen and (min-width: 1200px) {
    header {
        background-image: url('../img/drazba-logo.png');
        background-repeat: no-repeat;
        background-position: left center;
    }
}
