{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12 p-3 bg-info">
        <h2 class="text-white text-center">Seznam exekutorů</h2>
    </div>
</div>
<div class="row mt-3 mb-3">
    <div class="col-lg-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Jméno exekutora</th>
                    <th>Úřad</th>
                    <th>Telefon</th>
                    <th>Počet předmětů dražeb</th>
                </tr>
            </thead>
            <tbody>
                {% for exekutor in exekutori %}
                <tr>
                    <td><b><a href="{% url 'exekutor_detail' exekutor.id %}">{{ exekutor.titul }} {{ exekutor.jmeno }} {{ exekutor.prijmeni }}</a></b></td>
                    <td>{{ exekutor.urad }}</td>
                    <td>{{ exekutor.telefon }}</td>
                    <td class="text-center"><span class="badge badge-info">{{ exekutor.predmet_set.count }}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
